<?xml version="1.0" encoding="UTF-8"?>
<!-- this file is loadd by the contained during initialisation  -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>SpringMVCHelloWorld</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
       <!--  <servlet-name> looks for a file called [dispatcher]-servlet appending "-servlet"
       to match the actual file name "dispatcher-servlet.xml" why? no idea, why not give
       the full filename here and have done with it...? -->
       <servlet-name>dispatcher</servlet-name>
       <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
       <!--  <load-on-startup> tells a servlet container to load servlet(s) on startup 
       		 without it containers will wait for the first request before loading it 
       		 the number gives the container an order in which to load if there are
       		 more than 1 servlet to load -->
       <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet-mapping>
       <servlet-name>dispatcher</servlet-name>
       <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>